.edit-teacher-form{
    border:1px solid black;
    margin:60px 120px;
    height:fit-content;
}

.edit-teacher-fname,.edit-teacher-lname,.edit-teacher-email,.edit-teacher-doj,.edit-teacher-salary{
    width:450px;
    text-align: center;
    font-size: 20px;
}
#assigned{
    width:450px;
    text-align: center;
    font-size: 20px;
    margin-left: 250px;
}

#students{
    font-size: 25px;
    text-align: center;
    margin-left: 430px;
}